:root {
    --off-white-color: #505887;
    --primary-button-color: #47b;
    --secondary-button-color: #f98;
    --main-bg-color: #1B1C30;
    --white-text-color: #fff;
    --grey-text-color: #E6E9FB;
    
}


body, html{
    background-color: var(--off-white-color);
    height: 100%;
    color: var(--white-text-color);
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
}
.header,.main,.sidebar{
    padding-left: 4rem;
}
.header{
    grid-column: 2 / -1;
    background-color: var(--off-white-color);
}
.menu{
    grid-row: 1 / -1;
    background-color: var(--main-bg-color);
}
.menu ul li i{
    color: var(--white-text-color);
}

.main{
  
    background-color: var(off-white-color);
    grid-column: 2 / -4;
       grid-row: 2 / -1;
}

.sidebar{
    background-color:var(--main-bg-color);
    grid-column: -1 /  -4;
    grid-row: 2 / -1;

}


/* MENU STYLING */

.menu{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
}

.menu ul{
    padding-left: 0px;
}
.menu ul li {
    display: block;
    margin: 0px auto;
    padding: 40px 0px 20px 0px;
    flex-basis: 200px;
    
}

.menu ul li:nth-of-type(1){
    padding:  2rem 0;
    /* border-bottom: 1px solid var(--grey-text-color); */
}

.menu ul li:nth-of-type(9){
    flex-basis: 100px;
    padding:  20rem 0px 0px 0px;
}


/* MAIN CINTENT */

.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 200px;
}
.main-top--section{
    /* background-color:var(--main-bg-color); */
    border-bottom-right-radius: 2rem;
}
.searchTab{
    display: flex;
    flex-direction: row;
}

.searchTab-items li{
    display: inline-block;
    padding-right: 5rem;
}


.summary-section{
    display: flex;
    flex-direction: row;
}

.card-section{
    background-color: var(--main-bg-color);
}

.sidebar{
    border-top-left-radius: 2rem;
}