:root {
    --off-white-color: #505887;
    --primary-button-color: #47b;
    --secondary-button-color: #f98;
    --main-bg-color: #1B1C30;
    --white-text-color: #fff;
    --grey-text-color: #E6E9FB;
    --transparent-grey-color: #434351;
}

/* UTILLITY CLASSES */

.primary-button{
    color: var(--white-text-color);
    background-color: var(--primary-button-color);
    padding: 1.2rem 3rem;
    border: 0px;
    border-radius: 5px;
}

body, html{
    background-color: var(--off-white-color);
    height: 100%;
    color: var(--white-text-color);
    margin: 0 auto;
}

/* SETTING UP GRID-LAYOUT */
.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows:  repeat(4, auto);
    grid-template-areas: 
    "menu header header header"
    "menu main main sidebar";
}

@media screen and (max-width: 998px){
    .container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows:  repeat(3, auto);
        grid-template-areas: 
        "menu header header header"
        "menu main main main"
        "menu sidebar sidebar sidebar";
    }
}
.header{
    grid-area: header;
}
.menu{
    grid-area: menu;
    background-color: var(--main-bg-color);
    border-right: 1px solid var(--white-text-color);
}

@media screen and (max-width: 998px){
.menu{
    display: none !important;
}

}
.main{
    grid-area: main;
    background-color:var(--main-bg-color);
}
.sidebar{
    grid-area: sidebar;
    background-color: var(--main-bg-color);
}
.header,.sidebar{
    padding-left: 4rem;
}


/*  --------------------------------HEADER STYLING -------------------------------- */

.header{
    display: flex;
    background-color: var(--off-white-color);
}


@media screen and (max-width: 998px){
    .header,.sidebar{
        padding-left: 2rem;
    }
}



/* ================================================================= MENU STYLING ================================================================= */

.menu{
    /* grid-row: 1 / -1; */
    background-color: var(--main-bg-color);
}
.menu ul li i{
    color: var(--white-text-color);
}
 .menu{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
}

.menu ul{
    padding-left: 0px;
}
.menu ul li {
    display: block;
    margin: 0px auto;
    padding: 40px 0px 20px 0px;
    flex-basis: 200px;
}

.menu ul li:nth-of-type(1){
    padding:  2rem 0;
}

.menu ul li:nth-of-type(9){
    flex-basis: 100px;
    padding:  20rem 0px 0px 0px;
}

/*  ========================================================================= MENU MOBILE STYLING  ========================================================================= */

@media screen and (max-width: 998px){
    .menu{
        flex-direction: row;
    }
    .menu ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
    .menu ul li {
        justify-content: space-between;
        flex-basis: 200px;
    }
    .menu ul li:nth-of-type(9){
        flex-basis: 100px;
    } 
    .menu ul li:nth-of-type(1) hr{
        padding:  0px;

    }
}


/* ========================================================================= MAIN CONTENT STYLING ========================================================================= */


.main-top--section{
    padding-bottom: 4rem;
    padding-left: 4rem;
    margin-bottom: 3rem;
    background-color: var(--off-white-color);
    border-bottom-right-radius: 2rem;
}
.searchTab{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
} 

.searchTab-items{
    background-color: var(--transparent-grey-color);
    padding:15px;
    margin-right: 15px; 
    border-radius: 0.5rem;
}

.searchTab-items li{
    display: inline-block;
    padding-right: 4rem;
}

.searchTab-items button{
    background-color: transparent;
    color: var(--grey-text-color);
    padding: 0.5rem 2rem;
    border: 1px solid var(--white-text-color);
    border-radius: 1rem;
}

.searchTab-items i{
    padding-left: 0.7rem;
}

.active{
    border: 3px solid var(--white-text-color);
    font-weight: bold;
}
.search{
    padding-right: 5rem;
}

.search button{
    padding: 1.2rem 4rem;
    color: var(--white-text-color);
    background-color: var(--secondary-button-color);
    border: 0px;
    border-radius: 5px;
}

.search i{
    padding-right: 0.5rem;
    font-size: 1.3rem;
}

/* ========================================================================= SEARCHTAB MOBILE STYLING ========================================================================= */


@media screen and (max-width: 998px){

    .main-top--section{
        padding-bottom: 4rem;
        padding: 2rem;
        margin-bottom: 3rem;
    }

    .searchTab{
        display: block;
        flex-direction: column;
    }

    .searchTab-items{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .searchTab-items li {
        display: inline-block;
        padding: 3px;
    }
}

/* ================================================================ 

MAIN SUMMERY SECTION

================================================================= */

.summary-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
    height: 183px;
    max-height: 100%;
}

.summary  i{
    flex-grow: 1;
    font-size: 10rem;
}
.income-section{
    flex-basis: 500px;
}

.card-section{
    background-color: var(--main-bg-color);
} 

@media screen and (max-width: 998px){
    .summary-section{
        flex-direction: column;
    justify-content: center;
    min-height: 100%;
    height: 450px;
    }
}

/* ================================================================= MAIN BOTTOM BAR SECTION  STYLING ================================================================= */

/* .menu-bottom--bar{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

/* .menu-bottom--bar ul li{
    display: inline-block;
    padding-right: 4rem;

} */

/* SIDE BAR STYLING */
.sidebar{
    border-top-left-radius: 2rem;
    padding: 3rem;
}
/* 
.sidebar-content--section{
    display: flex;
    flex-direction: column;
}

.sidebar-content--wrapper{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: 80px auto;
    grid-gap: 8px;
}
.sidebar-content--fullWidth{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: 80px auto;
    grid-gap: 8px;
    margin-bottom: 8px;
}

.card{
    color: var(--white-text-color);
    background-color: var(--off-white-color);
    padding: 1rem;

}
.dropdown-card{
    color: var(--white-text-color);
    background-color: var(--off-white-color);
    padding: 1rem ;
} */



